.job-panel {
    width: 100%;
    color: cyan;
    flex-direction: row;
}

.job-panel > div > h3 {
    margin-left: 10px;
}

.job-panel > div > p {
    margin-left: 10px;
}

.range {
    font-size: small;
    color:gray;
}