.work {
    display: flex;
}

.job-tabs {
    position: relative;
    z-index: 1;
    width: max-content;
    padding: 0px;
    margin: 0px;
}

.job-panels {
    display: flex;
    position: relative;
    background-color: black;
    z-index: 2;
    width: 100%;
    margin-left: 20px;
}