.work {
    display: flex;
}

.job-tabs {
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
}

.job-panels {
    display: flex;
    position: relative;
    background-color: black;
    z-index: 6;
    width: 100%;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .work {
        display: block;
    }
}

@media (min-width: 700px) {
    .work {
        min-height: 340px;
    }
}