:root {
    --transition: all 0.2s;
    --transform: scale(1.015);
}

.main_container {
    width: 63vw;
    background-color: burlywood;
}

.section_container {
    color:red;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section_container > div > h1 {
    font-size: 65px;
    color:red;
}

.title_container {
    padding: 25px;
}