.thumbnail {
    padding-left: 5px;
    padding-right: 5px;
    transition: var(--transition);
}

.thumbnail:hover {
    transform: var(--transform);
}

.title {
    color: var(--amranth-red);
    font-size: 35px;
    transition: var(--transition);
}

.title:hover {
    color: var(--imperial-red);
}

.tools {
    padding-left: 20px;
    padding-top: 2px;
    font-style: italic;
}

.info {
    padding-left: 5%;
}

.project-card {
    background-color: var(--space-cadet);
}