.job-button {
    transition: var(--transition);
}

.job-button > button {
    width:100%;
    background:transparent;
    color:red;
    transition: var(--transition);
}

.job-button:hover {
    background:blue;
}

.active {
    color:green !important;
    background: purple !important;
}